<a href="https://colab.research.google.com/github/bsmaheshk333/btre_project/blob/master/resultFile.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [33]:
import pandas as pd
df = pd.read_excel('input_sample.xlsx', sheet_name=5, skiprows=4)
df.rename({"Unnamed: 0":"column0", 'Unnamed: 4': 'column4'}, axis="columns", inplace=True)
df

   column0 Name   age  weight  column4
0      NaN    a  23.0      54      NaN
1      NaN    b  21.0      56      NaN
2      NaN    c   NaN      24     46.0
3      NaN    d   NaN      31     57.0
4      NaN    e  26.0      36      NaN
5      NaN    f  45.0      58      NaN

In [34]:
df.drop(['column0'], axis=1, inplace=True) # column0 dropped
df

  Name   age  weight  column4
0    a  23.0      54      NaN
1    b  21.0      56      NaN
2    c   NaN      24     46.0
3    d   NaN      31     57.0
4    e  26.0      36      NaN
5    f  45.0      58      NaN

In [45]:
df.loc[df['weight'] and df[''] == 24].shift(1, axis=0)
df

NotImplementedError: ignored

In [ ]:
# append task
ap_s1 = pd.read_excel('input_sample.xlsx', sheet_name='DataAppend_1', skiprows=4)
ap_s1

In [ ]:
ap_s2 = pd.read_excel('input_sample.xlsx', sheet_name='DataAppend_2', skiprows=5)
ap_s2

In [8]:
append_result = ap_s1.append(ap_s1, ignore_index=True)
# append Done...

# merge task
# merge table 1
merge_df1 = pd.read_excel('input_sample.xlsx', sheet_name='DataMerge_1', skiprows=2)

# merge table2 
merge_df2 = pd.read_excel('input_sample.xlsx', sheet_name='DataMerge_2', skiprows=11)
merge_df2.rename({'Unnamed: 0': 'col1',}, axis="columns", inplace=True)

# merge_df2.drop(['col1', 'Name'],axis=1, inplace=True) # dropped / commented

merge_res = pd.merge(merge_df1, merge_df2, how='inner')
merge_res.drop(['col1'], axis=1, inplace=True)
merge_res.to_excel('result.xlsx', sheet_name='merge_output')
# Merge Done...

In [9]:
# drop duplicate rows
rem_dup_rows = pd.read_excel('input_sample.xlsx', sheet_name='Remove Duplicate rows')
rem_dup_rows.drop_duplicates(subset=['col1', 'col2', 'col3'])
rem_dup_rows
# remove dups done...

                               col1  ... class
0             Weighted Average Life  ...   Del
1           Weighted Average Rating  ...   Del
2                      Result Value  ...   Del
3                     Current LIBOR  ...   Del
4         Total Discretionary Sales  ...   Del
..                              ...  ...   ...
224  Weighted Average Rating Factor  ...   Del
225           Weighted Average Life  ...   Del
226     Weighted Average Spread (%)  ...   Del
227      Caa Collateral Obligations  ...   Del
228       Total Discretionary Sales  ...   Del

[229 rows x 6 columns]

In [11]:
# ToC extraction
toc = pd.read_excel('input_sample.xlsx', sheet_name='ToC Extraction', skiprows=4)
toc

      Unnamed: 0  ...                                         Unnamed: 4
0            NaN  ...                                               Page
1            NaN  ...                                                  2
2            NaN  ...                                                NaN
3            NaN  ...                                                  4
4            NaN  ...                                                NaN
5            NaN  ...                                                  6
6            NaN  ...                                                  7
7            NaN  ...                                                 10
8            NaN  ...                                                 16
9            NaN  ...                                                 17
10           NaN  ...                                                 18
11           NaN  ...                                                 21
12           NaN  ...                                                 22
13           NaN  ...                                                 25
14           NaN  ...                                                 26
15           NaN  ...                                                 27
16           NaN  ...                                                 28
17           NaN  ...                                                 29
18           NaN  ...                                                 29
19           NaN  ...                                                NaN
20           NaN  ...                                                NaN
21           NaN  ...                                                NaN
22           NaN  ...                                                NaN
23           NaN  ...                                                NaN
24           NaN  ...                                                NaN
25           NaN  ...                                                NaN
26           NaN  ...                                                NaN
27           NaN  ...                                                NaN
28           NaN  ...                                     (800) 735-7777
29           NaN  ...                       SHRControl.Operations@db.com
30           NaN  ...                                     (714) 247-6000
31           NaN  ...                                                NaN
32           NaN  ...  (*) In connection with Deutsche Bank’s prepara...
33           NaN  ...                                                NaN
34           NaN  ...                                                NaN
35           NaN  ...                                                NaN
36           NaN  ...                                                NaN
37           NaN  ...                                                NaN
38           NaN  ...                                                NaN
39           NaN  ...                                                NaN
40  Page 1 of 29  ...                                                NaN
41           NaN  ...                             Created On May 7, 2019

[42 rows x 5 columns]

In [ ]:
# to have all sheets output in a single xl file
xl_writer = pd.ExcelWriter('hands_on.xlsx',)
append_result.to_excel(xl_writer, sheet_name='append_result')
merge_res.to_excel(xl_writer, sheet_name='merge_result')
rem_dup_rows.to_excel(xl_writer, sheet_name='rem_duplicates_result')
xl_writer.save()